.chzzkExtModalContainer {
  -ms-flex-pack: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  background-color: rgba(var(--color-bg-black-fixed-rgb), 0.7);
  bottom: 0;
  justify-content: center;
  left: 0;
  padding: 50px 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20000;
}
.chzzkExtModalContent {
  word-wrap: break-word;
  background-color: var(--color-bg-layer-02);
  border-radius: 12px;
  -webkit-box-shadow: 0 8px 20px 0 var(--color-shadow-layer01-02),
    0 0 1px 0 var(--color-shadow-layer01-01);
  box-shadow: 0 8px 20px 0 var(--color-shadow-layer01-02),
    0 0 1px 0 var(--color-shadow-layer01-01);
  color: var(--color-content-01);
  overflow: hidden;
  position: relative;
  width: 370px;
  word-break: break-all;
}
.chzzkExtHeader {
  padding: 19px 27px 20px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid rgba(var(--color-bg-white-rgb), 0.06);
}
.chzzkExtTitle {
  color: var(--color-content-03);
  display: block;
  font-family: Sandoll Nemony2, Apple SD Gothic NEO, Helvetica Neue, Helvetica,
    나눔고딕, NanumGothic, Malgun Gothic, 맑은 고딕, 굴림, gulim, 새굴림,
    noto sans, 돋움, Dotum, sans-serif;
  font-size: 16px;
  line-height: 22px;
}
.chzzkExtBody {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1;
  flex: 1 1;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
.chzzkExtFooter {
  -ms-flex-pack: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: none;
  flex: none;
  gap: 0 10px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}
